<div class="container">
  <div
    class="search-container d-flex justify-content-between align-items-center"
  >
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Attractions</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        placeholder="Search Attractions"
      />
    </mat-form-field>
    <span [matTooltip]="'You must be logged in to perform this action'" [matTooltipDisabled]="authService.isLoggedIn()">
      <button mat-flat-button color="primary" (click)="openAddDialog()" [disabled]="!authService.isLoggedIn()">
        Add Attraction
      </button>
    </span>
    
  </div>

  <mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSortChange($event)"
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef>
        Detail
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.detail }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="coverimage">
      <mat-header-cell *matHeaderCellDef>
        Cover Image
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.coverimage" [alt]="element.name" width="100" height="auto" />
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="actions-column"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="actions-column">
        <span [matTooltip]="'You must be logged in to perform this action'" [matTooltipDisabled]="authService.isLoggedIn()">
          <button
            mat-icon-button
            color="primary"
            (click)="openEditDialog(element)"
            [disabled]="!authService.isLoggedIn()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </span>
        <button mat-icon-button color="warn" (click)="deleteAttraction(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalUsers"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>

  <div *ngIf="loading" class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
